.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        masa
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = icon('far', 'edit', class: "new")
          = icon('fa', 'cog', class: "gear")
  .groupes
    .group
      %p.group__name
        techcamp
      %p.group__message
        まだメッセージがありません