// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.chat-side{
  width: 300px;
  color: #ffffff;
  &__header{
    height: 100px;
    background-color: #253141;
    align-items: center;
    padding: 0px 20px;
    display: flex;
    &__box{
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
        p{
          font-size: 16px;
        } 
        &__menu__new__new-group{
          display: flex;
          justify-content: flex-end;
          width: 60px;
          list-style: none;
          &_button{
            margin-right: 5px;
          }
        } 
    }
  }
  &__groupes{
    height: calc(100vh - 100px );
    background-color: #2f3e51;
    padding-left: 20px;
    &__group{
      &__name{
        padding: 20px 20px 0px 0px;
        font-size: 15px;
      }
      &__message{
        padding: 5px 20px 40px 0px;
        font-size: 11px;
      }
    }
  }
}


.chat-main{
  width: calc(100vw - 300px);
  &__header{
    height: 100px;
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    &__box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__group{
        margin: 35px 0px 15px 40px;
        &__edit-button{
          text-decoration: none;
          font-size: 16px;
          display: flex;
          align-items: center;
          width: 72px;
          height: 40px;
          padding: 0px 20px;
          margin: 35px 40px 0px 20px;
          color: #38aef0;
          border: 1px solid #38AEF0;
        }
      }
    }
    &__user-name{
      color: #999999;
      font-size: 12px;
      margin-left: 40px;
    }
  }




  &__groupes{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    &__box{
      margin-left: 40px;
      &__group{
        display: flex;
        &__name{
          color: #333333;
          font-size: 16px;
        }
        &__data{
          color: #999999;
          font-size: 12px;
          float: right;
        }
        &__content{
          color: #434a54;
          font-size: 14px;
          margin-top: 12px 0px 46px 0px;
        }
      }
    }
  }

  &__footer{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 50px 20px 40px;
    &__form{
      display: flex;
      align-items: center;
      position: relative;
      &__text-box{
          height: 50px;
          padding: 0px 10px;
          margin-right:15px;
          border: none;
          width: 100%;
        }
      &__image{
        font-size: 25px;
        position: absolute;
        right : 100px;
        &__select{
          display: none;
        }
      }
      &__submit{
        background-color: #38aef0;
        height: 50px;
        width: 72px;
        color: #ffffff;
        border: none;
      }
    }
  }
}